.App{
  padding: 20px;
}

.person-list{
  display: flex;
  flex-wrap: wrap;
  columns: 3;
  gap: 3px;
  padding: 10px;
}

.person-name{
  width: auto;
  border: 1px solid green ;
  border-radius: 10px;
  padding: 5px;
}